@use "../tokens" as *;
@use "../media" as media;


.nav-section-icons {
    display: flex;
    align-items: center;
    gap: var(--space-16px);

    #menu-button {
        display: none;
    }
}

@include media.md {
    .nav-section-icons {
        gap: var(--space-8px);

        #menu-button {
            display: flex;
        }

        #temes-button {
            display: none;
        }
    }
}

.nav-button {
    height: 42px;
    align-items: center;
    padding: 0 var(--space-12px);
    background: $transparent-50;
    border-radius: var(--radius-8);
    border: 1px solid transparent;
    transition:
        background 0.2s ease,
        border-color 0.2s ease;

    &:hover {
        background: $transparent-100;
    }

    &:focus-within {
        background: $transparent-40;
        border-color: $transparent-50;
    }
}

@include media.md {
    .nav-button {
        background-color: transparent;
    }
}

.nav-icon {
    display: grid;
    place-items: center;
    color: var(--color-text-white);
    opacity: 0.9;
    width: 24px;
    height: 24px;
    cursor: pointer;

    svg {
        width: 20px;
        height: 20px;
    }

}

@include media.md {
    .nav-icon {
        svg {
            width: 24px;
            height: 24px;
        }
    }
}

.search {
    width: 420px;

    display: flex;
    align-items: center;
    gap: var(--space-8px);

    &__input {
        flex: 1;
        background: none;
        border: none;
        outline: none;

        color: var(--color-text-white);
        caret-color: var(--color-text-white);

        @include body-14-regular;

        &::placeholder {
            color: var(--color-text-50);
            transition: opacity 0.2s ease;
        }

        &:focus::placeholder {
            opacity: 0.4;
        }
    }

    &__clear {
        all: unset;
        cursor: pointer;
        @include body-14-regular;
        color: var(--color-text-white);
        opacity: 0;
        pointer-events: none;

        transition: opacity 0.15s ease;

        &.is-visible {
            opacity: 1;
            pointer-events: auto;
        }

        .nav-search:focus-within & {
            opacity: 1;
            pointer-events: auto;
        }

        &:hover {
            @include body-16-regular;
            color: var(--color-text-white);
        }
    }
}

@include media.md {
    .search {
        width: auto;

        &__input {
            display: none;
        }

        &__clear {
            display: none;
        }
    }
}