@use "../tokens/colors" as colors;
@use "../tokens/spacing" as space;
@use "../tokens/radius" as radius;
@use "../tokens/typography" as font;


//RESET/* RESET GENERAL */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    text-decoration: none;
    list-style: none;
}

/* HTML y BODY */
html,
body {
    width: 100%;
    font-family: font.$font-family-base;
    line-height: 1.5;
    display: flex;
    min-height: 100vh;
    background: colors.$grey-50;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    align-items: center;
    padding: 52px;
    width: 100%;
    max-width: 1440px;
}