@use "../tokens" as *;
@use "../media" as media;




.layout {
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100vh;
}


@include media.md {
    .layout {
        grid-template-columns: 1fr;
    }
}


.app {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 0;
}

@include media.md {
    .app {
        display: block;
    }
}

main {
    height: calc(100vh - 60px);
    overflow-y: auto;
}



.content-page {
    width: 100%;
    padding: 7em 10em;
    display: flex;
    flex-direction: column;
    gap: 100px;

    &__section {
        margin-bottom: 80px;
    }
}

@include media.md {
    .content-page {
        padding: 5rem 24px;
    }
}

@include media.sm {
    .content-page {
        padding: 5rem 12px;
    }
}

.hero-banner {
    position: relative;
    z-index: 998;
    width: 100%;
    height: 270px;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        position: absolute;
        z-index: 1;
    }


    &__content {
        position: absolute;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 30px;
        padding-inline: 10em;
        gap: var(--space-24px);


        h1 {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        }

    }

}

@include media.md {
    .hero-banner {
        height: 240px;

        &__content {
            padding-bottom: var(--space-24px);
            padding-inline: var(--space-24px);
        }
    }
}


@include media.sm {
    .hero-banner {
        height: 200px;


        &__content {
            padding-inline: var(--space-12px);
            padding-bottom: 7rem;

        }

    }
}

.main-nav {
    position: sticky;
    top: 0px;
    background-color: var(--color-background-white);
    height: auto;
    padding-inline: 10em;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    /* Opcional: Para distinguirla del fondo */

    .main-nav__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: var(--space-4px);

        .main-nav__item {
            a {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                min-height: var(--space-32px);
                padding: var(--space-16px);

                color: var(--color-text-500);
                border-top: 4px solid transparent;
                background-color: transparent;
                transition:
                    color 0.3s ease,
                    border-color 0.3s ease,
                    background-color 0.2s ease;

                &.active {
                    color: var(--color-primary-default);
                    background-color: $transparent-50;
                    border-top: 4px solid var(--color-primary-default);
                }

                &.active:hover {
                    border-top: 4px solid var(--color-primary-hover);
                }

                &:hover {
                    background-color: $transparent-100;
                    border-top: 4px solid $transparent-50;
                }

                &:focus {
                    background-color: $transparent-500;
                    border-top: 4px solid var(--color-primary-default);
                    outline: none;

                }
            }


        }
    }
}

@include media.md {
    .main-nav {
        padding-inline: var(--space-24px);
    }
}


@include media.sm {
    .main-nav {
        background-color: aqua;
        display: none;
    }
}