@use "../tokens" as *;
@use "../media" as media;

.nav {
    position: sticky;
    top: 0;
    z-index: 200;
    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--space-24px);
    gap: auto;
    background-color: var(--color-background-700);

    .nav--logo {
        height: 60px;
        display: flex;
        align-items: center;

        .logo {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            cursor: pointer;

            .logo {
                width: 72px;
                height: 30px;
                color: var(--color-text-white);
                stroke: var(--color-text-white);
                fill: var(--color-text-white);
                transition: all 0.25s ease;
            }

            &:hover .logo {
                color: var(--color-primary-default);
                stroke: var(--color-primary-default);
                fill: var(--color-primary-default);
            }
        }
    }

}

@include media.md {
    .nav {
        padding-inline: var(--space-24px);
    }
}

@include media.sm {
    .nav {
        padding-inline: var(--space-12px);
    }
}