@use "../tokens" as *;
@use "../media" as media;



app-sidebar {
    display: block;
    min-height: 100vh;
    transition: opacity 0.15s ease;
}

app-sidebar.ready {
    opacity: 1;
}

.sidebar {
    border-right: 1px solid var(--color-background-100);
    width: var(--sidebar-width);
    background-color: var(--color-background-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-32px) var(--space-14px) var(--space-32px) var(--space-12px);
    transition: transform 0.3s ease;
    height: calc(100vh - var(--nav-height));
    position: sticky;
    top: var(--nav-height);
    overflow: hidden;


    .sidebar--content {
        display: flex;
        flex-direction: column;
        gap: var(--space-32px);
        width: 100%;
        flex: 1;
        min-height: 0;
        padding-bottom: var(--space-32px);

        .sidebar--line {
            margin-left: 12px;
            margin-right: 14px;
            height: 2px;
            background-color: var(--color-background-grey-100);
        }

        .sidebar--menu {
            display: flex;
            flex-direction: column;
            width: auto;
            height: 100%; // Dejar que crezca
            padding-right: var(--space-6px); // Espacio para scrollbar si se desea
            overflow-y: auto;
            scrollbar-gutter: stable;

            /* Firefox */
            scrollbar-width: thin; //CAMBIAR MAS GRUESO Y FONDO BLANCO
            scrollbar-color: var(--color-background-100) transparent;
        }

        /* Chrome, Edge, Safari */
        .sidebar--menu::-webkit-scrollbar {
            width: var(--space-6px);
        }

        .sidebar--menu::-webkit-scrollbar-thumb {
            background: var(--color-background-50);
            border-radius: var(--radius-8);
        }

        .sidebar--menu::-webkit-scrollbar-track {
            background: transparent;
        }
    }

    .sidebar--footer {
        padding-left: 12px;
        padding-right: 14px;
        width: 100%;
        height: var(--space-52px);
        display: flex;
        align-items: center;
        gap: var(--space-16px);
        color: var(--color-primary-default);

        .img {
            height: 100%;
            width: auto;
            object-fit: contain;
            display: block;
        }

    }


}

@include media.md {
    .sidebar {
        display: none;
    }
}