// _typography.scss

// Fuente base
$font-family-base: 'Arial', sans-serif;

// ===== Headings =====
@mixin heading-title-54-regular {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 54px;
  line-height: 58px;
}


@mixin heading-title-42-bold {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 42px;
  line-height: 58px;
}

@mixin heading-title-42-regular {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 42px;
  line-height: 58px;
}

@mixin heading-title-32-bold {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

@mixin heading-title-32-regular {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

@mixin heading-title-24-bold {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

@mixin heading-title-24-regular {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

// ===== Subtitles =================================================================
@mixin subtitle-20-bold {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

@mixin subtitle-20-regular {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

@mixin subtitle-18-bold {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

@mixin subtitle-18-regular {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

// ===== Body =================================================================
@mixin body-16-bold {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

@mixin body-16-regular {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin body-14-bold {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

@mixin body-14-regular {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@mixin body-12-bold {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

@mixin body-12-regular {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

// ===== Action =================================================================
@mixin button-20 {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
}

@mixin link-15 {
  font-family: $font-family-base;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

@mixin link-16 {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

@mixin button-14 {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

@mixin button-12 {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}